@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Hind:wght@300&family=Macondo+Swash+Caps&display=swap'); body {
    display: block;
    overflow-x: hidden;
    font-family: 'Hind', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    background: radial-gradient(ellipse at top, teal, black, indigo );
    background-size: 400% 400%;
}
/*radial-gradient(ellipse at top, #F9CEEE, #CCF3EE,#F9F3EE,TRANSPARENT), radial-gradient(ellipse at bottom,#4700D8,#9900F0, #FF85B3, transparent);
    -webkit-animation: prettyNiceBG 8s ease-in-out infinite;
@-webkit-keyframes prettyNiceBG {
    0%{background-position: 0 50%}
    50%{background-position: 100% 100%}
    100%{background-position: 0 50%}
}*/
#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    margin:0;
    overflow: hidden;
    background-size: 400% 400%;
}

h2, h5, nav {
    font-family: 'Macondo Swash Caps', cursive;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 900;
    color: white;
    font-family: 'Macondo Swash Caps', cursive;
    text-transform: uppercase;
}
#navbarIcon{
    width: 50px;
    height: 50px;
}

nav ul li a {
    font-size: 27px;
    color: #390050;
    margin: auto 10px;
}

nav ul li a:hover {
    color: #683aa4;
}
.navbarScroll {
    border-bottom: 1px black solid;
    background-color: #390050;
    border-radius : 0 0 0 0;
}
.navbarScroll.navbarDark {
    background-color:black ;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

section h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}
h1.greeting:first-letter {
    float: left;
    text-transform: uppercase;
    line-height: .5;
    font-size: 115px;
    margin: 20px 2px 10px 0;
}

h1 {
    font-family: 'Griffy', cursive;
    color: #683aa4;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0 0 20px #4700D8;
}

section p {
    font-weight: 300;
    font-size: 25px;
}

h2 {
    border-radius: 0 !important;
    max-width: 80%;
    text-align: center;
    color: #683aa4;
    font-size: 30px;

    --d: 14px;

    padding: 8px 8px calc(8px + var(--d)) 8px;
    background: linear-gradient(rgba(255, 255, 255, 0.4) 0, 0) bottom/100% var(--d) no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--d)), calc(100% - 3px) calc(100% - var(--d)), 3px calc(100% - var(--d)), 0 calc(100% - var(--d)));
    transform: perspective(1000px) rotateX(0deg);
    transition: 0.4s, color 0.4s 0.4s, background-color 0.4s 0.4s;
}

h2:hover {
    background-color: #390050;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--d)), calc(100% - 3px) 100%, 3px 100%, 0 calc(100% - var(--d)));
    transform: perspective(1000px) rotateX(40deg);
    transition: 0.4s, clip-path 0.4s 0.4s, transform 0.4s 0.4s;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .img-col {
    justify-content: flex-end;
    margin-top: 50px;
}

#hero model-viewer {
    display:flex;
    width: 520px;
    height: 520px;
    flex-direction: column;
    position: center;
    justify-content: center;
    border:none;
    animation: fly  2.3s infinite linear;

}

@keyframes fly {
    20%{
        transform: rotateY(50deg);
        filter: drop-shadow(10px 30px 15px rgba(0,0,0,.60));
    }
    70%{
        transform: rotateY(-60deg);
        filter: drop-shadow(20px 30px 10px rgba(0,0,0,.60));
    }
}
#aboutMe model-viewer {
      display:flex;
      width: 350px;
      height: 350px;
      flex-direction: column;
      border:none;
      position: center;
      justify-content: center;
      animation: fly 2.3s infinite linear running;
}
@keyframes fly{
    30%{
        transform: rotateY(65deg);
        filter: drop-shadow(10px 30px 15px rgba(0,0,0,.60));
    }
    80%{
        transform: rotateY(-65deg);
        filter: drop-shadow(20px 30px 10px rgba(0,0,0,.60));
    }
}

#hero img {
    max-width: 130% !important;
    width: 120%;
}

#hero .virtualEx {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    filter: drop-shadow(10px 30px 20px rgba(0,0,0,.75));
}

#hero .pic{
    width: 250px;
    height: 250px;
    border-spacing: 20px;
    border:20px;
    clip-path:circle(50%);
}
/*Styling for the Project Section*/
#myArtworks img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    align-self: center;
    color: #CCF3EE;
    filter: blur(1.5px);
}
#myArtworks img:hover{
     filter: blur(0);
}
h5{
    font-size: 27px;
    font-weight: 700;
}
#virtualExh h1, #myArtworks h1{
    margin-bottom: 35px;
    text-align: center;
}

.card-title, .card-text, .title, .text{
    text-align: center;
    margin-top: 20px;
}

.card-text{
    color: black;
}

.title, .card-title{
    color: #683aa4;
}
.title:hover, .card-title:hover{
    color: #4700D8;
}

p{
    font-size: 25px;
    color: white;
}

/*Styling contact section*/
#contact, #contact p{
    text-align: center;
    background-color: #390050;
    color: #E1F5F2;
}
#contact h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}
#contact h1, .social, #hero .pic, h5{
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}
#contact h1:hover, .social:hover, #hero .pic:hover, h5{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
